.rate{
      position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color:	#000000;
	padding: 5px 10px;
	background-color:	#ffd700;
}
.card {
	position: relative;
	width: 275px;
	height: 500px;
	background-color: #1e1b26;
	margin: 60px auto 0 auto;
	border-radius: 25px;
	transform: scale(0.95);
	transition: all 0.5s;
	border-radius: 10%;
	font-family: 'Fredoka One', cursive;
    }
    .card:hover {
	transform: scale(1);
	box-shadow: 0 5px 10px -12.125px rgba(0, 0, 0, 0.2);
    }
   .image{
	width: 100%;
	height: 375px;
	border-radius: 10%
	
    }

.title{
      color: rgb(214, 36, 36);
	font-size: 30px;
      font-size: bold;
	text-align: center;
      

}
.card-body {
    /* flex: 1 1 auto; */
    display: flex;
    min-height: 1px;
    padding: 1.25rem;
    justify-content: center;
    /* align-content: space-around; */
    align-items: center;
    /* flex-wrap: nowrap; */
    flex-direction: column;
}
h3.nemflix {
    font-size: x-large;
    font-weight: 700;
    padding-right: 17px;
	color: red;
}
.card-img, .card-img-bottom, .card-img-top {
    /* flex-shrink: 0; */
    /* width: 100%; */
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: initial;
    padding: 4px;
    margin: auto;
    border-radius: 11px;
}
.card-title.h5 {
    color: #ff0000d1;
    font-weight: 700;
    font-size: x-large;
}